body{
    background-image: url(../src/assets/bg.jpg);
    overflow: auto;
    background-color: black;
    background-size: cover;
    /* display: contents; */
    
}

.btnNext{
    display: flex;
    justify-content: center;
}